<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>FarmaTech</title>
    <link href="../CSS/Index.css" rel="stylesheet" />
</head>
<body>
    <navbar id="nav">
        <!-- barrinha para colocar no topo da tela pra ver se fica bonitinho..... -->
    </navbar>
    <navbar id="navbar">
        <!--  nav para opções de navegação -->
        <div class="navbar-container">

            <ul class="navbar-items">
                <li class="navbar"><a href="EquipeQueryLab.html">Equipe QueryLab</a></li>
                <li class="navbar"><a href="SobreFarmaTech.html">Conheça o projeto</a></li>
                <li class="navbar"><a href="Contato.html">Contato</a></li>


            </ul>
            <!--  nav para opções de navegação -->
        </div>
    </navbar>

    <!--  Showcase? imagens -->

    <div id="showcase">

        <div class="showcase-container">
            <h2>FarmaTech</h2>
            <!-- adicionar um paragrafo aqui de introdução ao projeto-->
            <p>COLOCAR UMA DESCRIÇÃO PEQUENA DO PROJETO</p>
        </div>

    </div>

</body>
</html>